<head>
<link rel="stylesheet" href="signup.css">
</head>
<body>
<div class="signup__main__container">
<div class="signup__main__header"><%= image_tag "https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3296506464" ,class:"mercari__image__css" %>
<nav class="progress-bar signup-bar">
<div class="mercari__border "></div>
    <ol class="clearfix">
      <li class="active li-none">
        会員情報
        <div class="progress-status"></div>
      </li>
      <li class="li-none">
        電話番号認証
        <div class="progress-status"></div>
      </li>
      <li class="li-none">
        お届け先住所入力
        <div class="progress-status send__progress__box"></div>
      </li>
      <li class="li-none">
        支払い方法
        <div class="progress-status pay__status__box"></div>
      </li>
      <li class="li-none">
                  完了
                  <div class="progress-status"></div>
      </li>
    </ol>
  </nav>
</div>



  


<%= form_for(resource, as: resource_name, url: "/users", method: :post) do |f| %>

<%# 一旦残しておきます %>
  <%# <%= render "devise/shared/error_messages", resource: resource %> 

<div class="signup__main__contents">
<div class="field user__information user__push__button">
        会員情報入力
      </div>
      <div class="field__user__information__main">
      <div class="field user__information__main">
<div class="field user__nickname">
        <div class="user__nickname__box">
        <div class="user__error__text"><%= f.label :nickname ,class:"user__position"%><span class="form__user__name">必須</span><br></div>
        <%= f.text_field :nickname, autofocus: true, maxlength: "6" ,placeholder: '例)メルカリ太郎',class:"user__input__box"%></div>
         <% resource.errors.full_messages_for(:nickname).each do |message| %>
        <li class="error__text__message error__padding__text li-none"><%= message %></li>
      <% end %>
      </div>
     

  <div class="field user__nickname">
    <div class="user__nickname__box">
    <div class="user__error__text"><%= f.label :email ,class:"user__position"%><span class="form__user__name">必須</span><br></div>
    <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: 'PC・携帯どちらでも可' ,class:"user__bottom__input__box2"%></div>
  <% resource.errors.full_messages_for(:email).each do |message| %>
        <li class="error__text__message error__padding__text li-none"><%= message %></li>
      <% end %>
  </div>

<% unless session["devise.sns_id"].present? %>
  <div class="field user__nickname">
    <div class="user__nickname__box">
    <div class="user__error__text"><%= f.label :password ,class:"user__position"%><span class="form__user__name">必須</span><br></div>
    <%= f.password_field :password, autocomplete: "new-password",placeholder: '7文字以上' ,class:"user__bottom__input__box2"%></div>
    <% resource.errors.full_messages_for(:password).each do |message| %>
        <li class="error__text__message error__text__message__english li-none"><%= message %></li>
      <% end %>
  </div>

  <div class="field user__nickname">
    <div class="user__nickname__box">
    <div class="user__error__text"><%= f.label :password_confirmation ,class:"user__position"%><span class="form__user__name">必須</span><br></div>
    <%= f.password_field :password_confirmation, autocomplete: "new-password",placeholder: '7文字以上' ,class:"user__bottom__input__box2"%></div>
  </div>
  <% end %>
  

  </div>
  <% resource.errors.full_messages_for(:password_confirmation).each do |message| %>
        <li class="error__text__message error__text__conf__english li-none"><%= message %></li>
      <% end %>
      <br>

  <div class="actions user__nickname devise__add__input">
  <div class="user-description"><span class="user__confirmation">本人確認</span><br>
安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。</div>
<br>


<div class="field user__nickname devise__add__input">
<div class="user__nickname__box user__kananickname__box"><%= f.label :お名前（全角）,class:"user__position" %>
<span class="form__user__name">必須</span></div><br>
    <div class="text__box__error__message"><%= f.text_field :lastname, autofocus: true, maxlength: "6" ,placeholder: '例)山田',class:"user__half__box" %>
    <%= f.text_field :firstname, autofocus: true, maxlength: "6" ,placeholder: '例)彩' ,class:"user__half__box"%></div>
    <% resource.errors.full_messages_for(:lastname).each do |message| %>
        <li class="error__text__message red__error__text li-none"><%= message %></li>
      <% end %>
      <% resource.errors.full_messages_for(:firstname).each do |message| %>
        <li class="error__text__message red__error__text2 li-none"><%= message %></li>
      <% end %>
  </div>

<div class="field user__nickname devise__add__input">
<div class="user__nickname__box user__kananickname__box">
<div class="user__error__text"><%= f.label :お名前カナ（全角）,class:"user__position" %>
<span class="form__user__name">必須</span></div><br></div>
     <div class="text__box__error__message"><%= f.text_field :lastkana, autofocus: true, maxlength: "6" ,placeholder: '例)ヤマダ',class:"user__half__box"%>
    <%= f.text_field :firstkana, autofocus: true, maxlength: "6" ,placeholder: '例)アヤ',class:"user__half__box"%></div>
    <% resource.errors.full_messages_for(:lastkana).each do |message| %>
        <li class="error__text__message red__error__text li-none"><%= message %></li>
      <% end %>
      <br>
      <% resource.errors.full_messages_for(:firstkana).each do |message| %>
        <li class="error__text__message red__error__text2 li-none"><%= message %></li>
      <% end %>
  </div>

  <div class="field user__nickname devise__add__input">
<div class="user__nickname__box user__kananickname__box">
<div class="user__error__text"><%= f.label :生年月日,class:"user__position"%>
<span class="form__user__name">必須</span></div><br></div>
     <div class="text__box__error__message birthday__padding__box"><%= f.text_field :birthyear,placeholder: '例)2019', autofocus: true, maxlength: "6" ,class:"user__birthday__box"%>年
    <%= f.text_field :birthmonth,placeholder: '例)7', autofocus: true, maxlength: "6" ,class:"user__birthday__box"%>月
     <%= f.text_field :birthday,placeholder: '例)07', autofocus: true, maxlength: "6" ,class:"user__birthday__box"%>日
     <br>
     <% resource.errors.full_messages_for(:birthyear).each do |message| %>
        <li class="error__text__message red__error__text birthday__miss__message li-none"><%= message %></li>
      <% end %>
  </div>

<img class="not__robot" src="https://www.724685.com/word/icons/wd160921-01.png">
   <br>
  <%= f.submit "次へ進む" ,class:"next__stage next__button__red"%>
   
  </div>
<% end %>





<div class="confirmation__next__choice">「次へ進む」のボタンを押すことにより、<a href="https://www.mercari.com/jp/tos_list/" class="promise__for__using">利用規約</a>に同意したものとみなします</div>

<div>
</div>
</div>
<div class="mercari__user__secret__information">
<%= link_to "" do %>本人情報の登録について</div><% end %>
<%= render "devise/shared/links" %>
<%= render 'devise/registrations/footer'%>
</body>
