<body>
  <header class = header>
    <%= render partial: "shared/header" %>
  </header>
<% breadcrumb :user_credit_new %>
<%= render partial: "shared/breadcrumbs" %>

<div class="credit-wrapper">
  <div class="profile__body">
    <div class="profile__body__side">
      <%= render partial: "shared/sidebar" %>
    </div>
    <div class="credit__body">
      <div class="credit__body__header">
        支払い方法
      </div>
      <div class="credit__body__main">
          クレジットカード一覧
          <div class="credit__body__main__details">
              <%= link_to "",class:"credit__body__main__details__add-card" do %>
                <i class="fas fa-credit-card" id="add-card"></i>
                <p class="credit__body__main__details__add-card" id="add-card-text">クレジットカードを追加する</p>
              <% end %>
          </div>
        <div class="credit__body__infomation">
        </div>
      </div>
      <div class="credit__body__payment">
        <i class="fas fa-chevron-right" id="credit-peyment"></i>
        <%= link_to "支払い方法について","https://www.mercari.com/jp/help_center/category/6/" ,:id => 'peyment-info' %>
      </div>
    </div>
  </div>
</div>
  
  <footer>
    <%= render partial: "shared/footer" %>
  </footer>
</body>

<%# 

= link_to "/users/auth/google_oauth2",class:"log-in-body__main__inner__facebook" do
  %i.fab.fa-facebook-square#login-facebook-icon
  %p.facebook__text Facebookでログイン %>
