<%# viewチェック済み　20190930関口 %>

<%= render partial: "shared/header" %>
<% breadcrumb :user_credit_new %>
<%= render partial: "shared/breadcrumbs" %>

<div class="credit-wrapper">
  <%= render partial: "shared/sidebar" %>
  <div class="credit__body">
    <div class="credit__body__header">
      支払い方法
    </div>
    <div class="credit__body__main">
        クレジットカード一覧
        <div class="credit__body__main__details">
        <div class="credit__body__main__delete">
          <button type="submit"  id="credit-delete">削除する</button>
        </div>
          <%# <div class="credit__body__main__details__card-type" src="/assets/visa_PNG30.png"> </div> %>
          <img src="/assets/visa_PNG30.png" class="credit__body__main__details__card-type" id="card-type">
          <div class="credit__body__main__details__card">************3344</div>
          <div class="credit__body__main__details__card">**/++</div>
        </div>
      <div class="credit__body__infomation">
      </div>
    </div>
      <div class="credit__body__payment">
        <i class="fas fa-chevron-right" id="credit-peyment"></i>
        <%= link_to "支払い方法について","#" ,:id => 'peyment-info' %>
      </div>
    </div>
  </div>


<%= render partial: "shared/footer" %>
