<%= render partial: "shared/header" %>

<% breadcrumb :user_index %>
<%= render partial: "shared/breadcrumbs" %>
<a href="/products/new" class="exhibit-btn">
  <h2 class="exhibit-text">出品</h2>
  <i class="fas fa-camera"></i>
</a>

<div class="user-profile-big-contents">
<%# =========大枠の箱============ %>
<div class = "edit-main-countainer">
<%# ============================ %>
<%# ============================ %>
  <div class = "mypage-right_user-countainer">  <%#右の画面の大枠%>
        <div class="mypage__right__user__area"> <%#ユーザー情報のヘッダー的な部分%>
          <a href="#" id="img__position">
            <figure id=img__line>
            <% if  @user.avatar.attached? %>
             <%= image_tag  @user.avatar, id:"img__nikoniko"%>
             <% else %>
                <img src="//static.mercdn.net/images/member_photo_noimage_thumb.png" id="img__nikoniko" >
             <% end %>
            </figure>
            <h2 class="mypage__right__user__neme"><%=  @user.nickname%>
            </h2>

            <div class="mypage__right__user__data">
              <div class="data__left">
              評価
              <span class="user__data__left">555</span>
            </div>
            <div class="data__right">
            出品数
              <span class="user__data__right"></span>
            </div>
            </div>
          </a>
          
        </div>
        <div class="user-products-contents">
        <div class="iine-main-contents">
        <div class="iine-sub-products-content"><i class="far fa-smile-beam products-iine-smile"></i>2300</div>
        <div class="iine-sub-products-content"><i class="far fa-meh products-iine-smile"></i>1</div>
        <div class="iine-sub-products-content"><i class="far fa-sad-cry products-iine-smile"></i>22</div>
        </div>
        </div>
        <div class="products-user-profile">
        <div class="user-profile-iine"><%= @user.profile %></div>
        </div>
        <div class="seller-special-item">この出品者の商品</div>
         <div class="lists-10", style="flex-wrap: wrap; display:flex; background-color:white; width:700px;">
        <% @items.each do |item| %>
       <%= link_to "/products/#{item.id}" , class: "seller-contents-items" do %>
              <%= image_tag "#{item.item_images[0].image}", class:"item-image-seller" %>
              <span  class="item-image-price-seller" aria-label="Price">¥<%= item.price %></span>
              <div class="item-box">
                <p class="item-box-seller-info" ><%= item.name %></p>
              </div>
          <% end %>
          <% end %>
        </div>
        </div>
        