<%# ヘッダーをレンダーしてます %>
<%= render partial: "shared/header" %>

<%# 右下固定の出品ボタンです %>
<% if user_signed_in?%>
  <a href="/products/new" class="exhibit-btn fun-btn" >
    <h2 class="exhibit-text">出品</h2>
    <i class="fas fa-camera"></i>
  </a>
  
<% else %>
   <a href="/users/sign_in" class="exhibit-btn">
    <h2 class="exhibit-text">出品</h2>
    <i class="fas fa-camera"></i>
  </a>
<% end %>
<%# <div class="content">
</div> %>

<link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet">

<div class="contents">

<%# ---------------------------ここからスライダー------------------------------------- %>
  <div class = main-slider-countainer>  <%#大枠%>
    <ul class = main-slider-frame><%#額縁%>

      <li class="top active"> <%#1枚目の写真%>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSrrO2GNqXlVkyHaqjKuiEvk4Fj9G_V8BE6JUG2hwKhN3GlWqLr" class="active-image">
        <div class= top-position>
          <div class="top-info">
            <img src="https://web-jp-assets.mercdn.net/_next/static/images/top-banner-main-device-1f627e51e488f6ca35feaa6a08b79736.png" class="active-image-mini">
            <h2 class="text-main">スマホで かんたん<br>フリマアプリ</h2>
            <h4 class="text-mini">メルカリはスマホカメラからすぐに出品できる<br>購入時も安心な独自システムのアプリです</h4>
            <div class="app-store">
              <a href="https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8"><img src="https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg" class="apple-app"></a>
              <a href="https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja"><img src="https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg" class="google-app"></a>
            </div>
          </div>
        </div>
      </li>

      <li class="top"> <%#2枚目の写真%>
        <div class="main">
          <%= image_tag("index_camp.png", class: "main-image") %>
        </div>
      </li>

    </ul>
  </div>

<%# ---------------------------ここまでスライダー-------------------------------------- %>

<div class = brank-block>　</div>

  <div class="category">
    <p class="popular">人気のカテゴリー</p>
    <div class="genres">
      <a href="#ladys-name-content" class="lists genre-woman">
        <p class="genre">レディース</p>
      </a>
      <a href="#mens-name-content" class="lists genre-mans">
        <p class="genre">メンズ</p>
      </a>
      <a href="" class="lists genre-camera">
        <p class="genre">家電・スマホ・カメラ</p>
      </a>
      <a href=""class="lists genre-toy">
        <p class="genre">おもちゃ・ホビー・グッズ</p>
      </a>
    </div>
  </div>
  <div class="items">
    <div class="popular-items">
      <div class="top-text">
        <p class="left-text" id="ladys-name-content">レディース新着アイテム</p>
        <a href="" class="right-text">
          <p class="text">もっと見る</p>
          <i class="fas fa-chevron-right"></i>
        </a>
      </div>

      <div class="lists-10">
        <% @ladys.each do |item| %>
        <% if item.status == 3 %>
        
         <%= link_to "/products/#{item.id}" , class: "item3" do %>
           
      <div class="sold-out-3">
             </div>
              <%= image_tag "#{item.item_images[0].image}", class:"item-image3" %>
               
              <span  class="item-image-price3" aria-label="Price">¥<%= item.price %></span>
              
              <div class="item-box3">
              
                <p class="item-box-info3" ><%= item.name %></p>
              </div>
              <div class="sold-out-triangle">SOLD</div>
              
          <% end %>
          <% else %>
         <%= link_to "/products/#{item.id}" , class: "item" do %>
              <%# <%= img src="#{item.item_images[0].image}", class:"item-image" %> 
              <%= image_tag "#{item.item_images[0].image}", class:"item-image" %>
              <%# <%= image_tag "item.item_images[0].image", class:"item-image" %> 
              <span  class="item-image-price" aria-label="Price">¥<%= item.price %></span>
              <div class="item-box">
                <p class="item-box-info" ><%= item.name %></p>
              </div>
          <% end %>
        <% end %>
         <% end %>
      </div>
     

      <div class="top-text">
        <p class="left-text"  id="mens-name-content">メンズ新着アイテム</p>
        <a href="" class="right-text">
          <p class="text">もっと見る</p>
          <i class="fas fa-chevron-right"></i>
        </a>
      </div>

      <div class="lists-10">
        <% @mens.each do |item| %>
          <%= link_to '/products/show' , class: "item" do %>
              <%= image_tag "#{item.item_images[0].image}", class:"item-image" %>
              <span  class="item-image-price" aria-label="Price">¥<%= item.price %></span>
              <div class="item-box">
                <p class="item-box-info" ><%= item.name%></p>
              </div>
          <% end %>
        <% end %>
      </div>

      <div class="top-text">
        <p class="left-text">家電・スマホ・カメラ新着アイテム</p>
        <a href="" class="right-text">
          <p class="text">もっと見る</p>
          <i class="fas fa-chevron-right"></i>
        </a>
      </div>

      <div class="lists-10">
        <div class="item">
          <img src="https://is4-ssl.mzstatic.com/image/thumb/Purple113/v4/cf/12/24/cf12243d-81df-06d0-9231-88e7998b8ae1/AppIcon-0-1x_U007emarketing-0-85-220-7.png/246x0w.jpg" class="item-image">
          <span aria-label="Price">¥900</span>
          <p class="item-info" >めっちゃええやん</p>
        </div>

        <div class="item">
          <img src="https://is4-ssl.mzstatic.com/image/thumb/Purple113/v4/cf/12/24/cf12243d-81df-06d0-9231-88e7998b8ae1/AppIcon-0-1x_U007emarketing-0-85-220-7.png/246x0w.jpg" class="item-image">
          <span aria-label="Price">¥900</span>
          <p class="item-info" >めっちゃええやん</p>
        </div>
      </div>


   <svg class="editorial"
     xmlns="http://www.w3.org/2000/svg"
     xmlns:xlink="http://www.w3.org/1999/xlink"
     viewBox="0 24 150 28"
     preserveAspectRatio="none">
 <defs>
 <path id="gentle-wave"
 d="M-160 44c30 0 
    58-18 88-18s
    58 18 88 18 
    58-18 88-18 
    58 18 88 18
    v44h-352z" />
  </defs>
  <g class="parallax">
   <use xlink:href="#gentle-wave" x="50" y="0" fill="#4579e2"/>
   <use xlink:href="#gentle-wave" x="50" y="3" fill="#3461c1"/>
   <use xlink:href="#gentle-wave" x="50" y="6" fill="#2d55aa"/>  
  </g>
</svg>
      </div>
    </div>
  </div>
</div>
<%= render partial: "shared/footer" %>