<%= render partial: "shared/header" %>


<body>
<%= search_form_for @q ,class:"header__center__top__form",style:"position:relative;", url:  search_path  do |f| %>
<div class="item-search">
<div class="item-order-box">並び替え<i class="fas fa-chevron-down arrow-search-css"></i></div>
<div class="item-rare-box-list">
<h2 class="item-details-inclimental">詳細検索<h2>
<div class="item-search-small-box">
<div class="item-search-title"><i class="fas fa-plus"></i>キーワードを追加する</div>
<%= f.search_field :name_cont,class:"item-search-select-title" %>
</div>
<div class="item-search-small-box">
<div class="item-search-title"><i class="fas fa-list"></i>カテゴリーを選択する</div>
<div class="item-search-select-title">スーツ<i class="fas fa-chevron-down arrow-search-css"></i></div>
</div>
<div class="item-search-small-box">
<div class="item-search-title"><i class="fas fa-tags"></i>ブランド名から探す</div>
<div class="item-search-select-title">スーツ</div>
</div>
<div class="item-search-small-box">
<div class="item-search-title"><i class="far fa-square"></i>サイズを指定する</div>
<div class="item-search-select-title">スーツ<i class="fas fa-chevron-down arrow-search-css"></i></div>
</div>
<div class="item-search-small-price-box">
<div class="item-search-title"><i class="fas fa-coins"></i>価格</div>
<div class="item-search-select-title">スーツ<i class="fas fa-chevron-down arrow-search-css"></i></div>
<div class="min-max-search">
<div class="search-price-boxes">Min</div>
<span>~</span>
<div class="search-price-boxes">Max</div>
</div>
</div>
<div class="item-search-small-box">
<div class="item-search-title"><i class="fas fa-star"></i>商品の状態</div>
<div class="item-mincheck-box">
<%= f.check_box :condition,class:"search-aquare-button" %><span class="search-selection-name">すべて</span></div>
<div class="item-mincheck-box">
<%= f.check_box :condition_eq_any,{multiple: true},0,class:"search-aquare-button search-aquare-second-button" %>新品、未使用</div>
<div class="item-mincheck-box">
<%= f.check_box :condition_eq_any,{multiple: true},1,class:"search-aquare-button" %>未使用に近い</div>
<div class="item-mincheck-box search-margin">
<%= f.check_box :condition_eq_any,{multiple: true},2,class:"search-aquare-button" %>目立った傷や汚れなし</div>
<div class="item-mincheck-box">
<%= f.check_box :condition_eq_any,{multiple: true},3,class:"search-aquare-button" %>やや傷や汚れあり</div>
<div class="item-mincheck-box search-margin">
<%= f.check_box :condition_eq_any,{multiple: true},4,class:"search-aquare-button" %>傷や汚れあり</div>
<div class="item-mincheck-box">
<%= f.check_box :condition_eq_any,{multiple: true},5,class:"search-aquare-button" %>全体的に状態が悪い</div>
</div>
<div class="item-search-small-box">
<div class="item-search-title">
<i class="fas fa-feather"></i>配送料の負担</div>
<div class="item-mincheck-box">
<%= f.check_box :postage,class:"search-aquare-button" %>すべて</div>
<div class="item-mincheck-box search-margin">
<%= f.check_box :postage_eq_any,{multiple: true},0,class:"search-aquare-button" %>着払い（購入者負担）</div>
<div class="item-mincheck-box">
<%= f.check_box :postage_eq_any,{multiple: true},1,class:"search-aquare-button" %>送料込み（出品者負担）</div>
</div>
<div class="item-search-small-box">
<div class="item-search-title"><i class="fas fa-dolly"></i>販売状況</div>
<div class="item-mincheck-box">
<%= f.check_box :status,class:"search-aquare-button" %>すべて</div>
<div class="item-mincheck-box search-margin">
<%= f.check_box :status_eq_any,{multiple: true},0,class:"search-aquare-button" %>販売中</div>
<div class="item-mincheck-box">
<%= f.check_box :status_eq_any,{multiple: true},1,class:"search-aquare-button" %>売り切れ</div>
</div>
<div class="bouble-search-button">
<div class="clear-search-button">クリア</div>
<%= f.submit value: "完了",class:"search-completing-button"%>
</div>

 <% end %>
</div>






      
    
   







</div>

















<% if @results.any? %>
<div class="name--cont--class"><span class="name__cont__color"><%= @q.name_cont %></span>の検索結果</div>
   <div class="lists-10 list100">
       <% @results.each do |result| %>
          <%= link_to '/products/show' , class: "item items" do %>
              <%= image_tag "#{result.item_images[0].image}", class:"item-image item-mercari-image",style:"height:170px; width:160px;" %>
                <% end %>
                <br>
              <div class="item-box">
              <span  class="item-image-price image-price-box" aria-label="Price">¥<%= result.price %>
            </span>
                <div class="item-box-info item-box-vocaburary" ><%= result.name%>
                </div>
            </div>
           <% end %>
          <% end %>
      </div>
      <div class="search-box-image"></div>

      <%= render partial: "shared/footer" %>
 </body>


  