<!DOCTYPE html>
<html>
  <head>
    <title>Mercari2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://js.pay.jp/" type="text/javascript"></script>
    <script type="text/javascript">Payjp.setPublicKey('sk_test_cfd505a323b7a500937468a7');</script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <meta name="viewport" content="width=device-width,initial-scale=1">
   
  </head>

  <body>
    <%= yield %>
  </body>
</html>
